<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>
    <link rel="stylesheet" href="../styles/home.css" />
</head>
<body>
    <div class="menu-bar-container">
        <div class="app-name">
            <img src="../assets/icon.jpeg" />
            <p>Money Guru</p>
        </div>
        <button>Home</button>
        <button>Expenses</button>
        <button>Statistics</button>
        <button>Investments</button>
        <button>Profile</button>
        <button>Logout</button>
    </div>
    <div class="main-container">
        <div class="financial-status-box">
        </div>
        <div class="bank-cards-box">
        </div>
        <div class="expense-list-box">
        </div>
    </div>
    <div class="quick-add-container">
    </div>
</body>
</html>